<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <h1>Hola, bienvenido al home!</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ex eveniet ipsam ullam aliquam nam quae delectus, impedit maiores explicabo accusantium omnis a unde nemo! Repellat magnam, inventore, illum omnis soluta est quasi error esse neque, harum magni. Ea doloremque distinctio dolore nesciunt culpa rem voluptatum quis maiores exercitationem mollitia?z</p>

    <ul>
        <li>Hola</li>
        <li>Chau</li>
        <li>Nos vemos</li>
    </ul>
    
</body>
</html>